.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.box__image{
    width:80px;
    height: 80px;
    margin:0 auto;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    border:2px solid #E52040;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 20px;
    padding:0px;
}
h4, h5{
    margin-top: 0px;
    margin-bottom: 20px;
}