.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width:300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 40px 0 rgb(229 32 64 / 20%), 0 6px 20px 0 rgb(229 32 64 / 19%);
    padding:20px;
}