.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: white;
    transition: 0.3s;
}

@media screen and (max-width: 1366px){
    .main {
        transition: 0.3s;
        background-color: red;
    }
}