.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box__title,.box__quote{
    text-align: center;
    color:red;
}
.box__title{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.box__button{
    margin-top: 20px;
    width:170px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border:1px solid #E52040;
    color:#E52040;
    transition: 0.3s;
    cursor: pointer;
}
.box__button:hover{
    background-color: #E52040;
    color:white;
}